@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--linen);
  --background2: 255 255 255;
  --foreground: var(--black);
  --primary: var(--poppy);
  --primary2: var(--fire-brick);
  --secondary: var(--rose-ebony);
  --poppy: 217 48 54;
  --fire-brick: 172 32 36;
  --rose-ebony: 102 68 68;
  --licorice: 37 27 24;
  --linen: 255 245 235;
  --black: 24 18 16;
  --faded: 87 87 87;
  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body)
}

*:focus-visible:not(#mobileMenu) {
  outline: 4px solid gold;
  outline-offset: 1px;
}
#mobileMenu:focus-visible {
  border: 4px solid gold;
}

* {
  scroll-behavior: smooth;
}