@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: var(--linen);
  --background2: 255 255 255;
  --foreground: var(--black);
  --primary: var(--poppy);
  --primary2: var(--fire-brick);
  --secondary: var(--rose-ebony);
  --poppy: 217 48 54;
  --fire-brick: 172 32 36;
  --rose-ebony: 102 68 68;
  --licorice: 37 27 24;
  --linen: 255 245 235;
  --black: 24 18 16;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--licorice);
    --background2: 0 0 0;
    --foreground: var(--linen);
    --primary: var(--fire-brick);
    --primary2: var(--poppy);
    --secondary: var(--linen);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body)
}
.hero-bg {
  background-image: linear-gradient(to bottom, #000000aa, #00000033 30%, #fffffff5 45%), url('/hero.webp');
  ;
}
@media screen and (min-width: 1024px) {
  .hero-bg {
    background-image: linear-gradient(to right, #000000aa,#00000055 30%, #fffffff5 50%), url('/hero.webp');
  }
}

@media (prefers-color-scheme: dark) {
  .hero-bg {
    background-image: linear-gradient(to bottom, #000000aa, #00000033 30%, #000000f5 45%), url('/hero.webp');
  }
  @media screen and (min-width: 1024px) {
    .hero-bg {
      background-image: linear-gradient(to right, #000000aa,#00000055 30%, #000000f5 50%), url('/hero.webp');
    }
  }
}